@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Press Start 2P';
}

a{
color: #282425!important;	
}
ul.nav.nav-tabs > li{
	display: inline-block;
	line-height: 20px;
	height: 100%;
	text-transform:uppercase;
}
ul.nav.nav-tabs > li a{
	display:block;
	padding:15px;
	color: #282425!important;
	
}
ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
	background:	#FB282F;
	color:#fff!important;
	text-decoration: none!important;
}
ul.nav.nav-tabs > li a.active{
	background:	#282425;
	color:#fff!important;
	text-decoration: none!important;
}
.card-header {
    background-color: rgb(245,245,245,0.3)!important;
	border-radius:0!important;
}
.card{
border-radius:0!important;
}

.card > .card-header a::before {
    font-family: fontawesome;
    content: "\f067 ";
    color: #282425;
    float: right;
    margin-right: 15px;
    position: absolute;
    right: 0;
}

.topButtons {
	outline-color: blue;
	border-radius: 20px;
	color: black;
	background-color: #BBBBBB;
	height: 50px;
	width: 200px;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	vertical-align: middle;
  	margin-right: 25px;
  	margin-left: 25px;
  	padding: 15px 10px 15px 10px;
	font-size: 12px;
	margin-top: 20px;
}