.mainContainer {
	display: inline-flex;
	width: 100%;
	padding-top: 25px;
	font-family: 'Press Start 2P';
	user-select: none;
	background-color: black;
}

.arcadeContainer {
	text-align: center;
	display:inline-flex;
	flex-direction: column;
}

.shopContainer {
	text-align: center;
	margin: none;
	padding: none;
}

.topButtons {
	outline-color: blue;
	border-radius: 20px;
	color: black;
	background-color: #BBBBBB;
	height: 50px;
	width: 215px;
	align-items: center;
  	justify-content: center;
  	text-align: center;
  	vertical-align: middle;
  	margin-right: 25px;
  	margin-left: 25px;
  	padding: 15px 10px 15px 10px;
}
.topButtons:hover {
    cursor: pointer;
    filter: brightness(2);
}
.topButtons:active {
    filter: brightness(0.5);
}

.btnRowDiv {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.mainScreenStats{
	margin-right: 60px;
  	margin-left: 60px;
  	font-size: 30px;
  	text-align: center;
	color: #55EE55;
}

.scoreBalanceRowDiv {
	margin-top: 50px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

#ticketShop {
	transform: scale(0.8, 0.8);
}

.arcadeMachine {
  	width:100%;
	margin-top: 50px;
	text-align: center;
}

#machine {
  	height:500px;
	text-align: center;
	top: 50%;
	left: 50%;
}

#machine:active{
	height:450px;
}

