* {
    color: #55EE55;
    font-family: 'Press Start 2P';
}

body{
    background-color: black;
}

.imagine {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leader-container {
    width: 25%;
    border: 3px solid #BBBBBB;
    padding: 2% 2% 1% 2%;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    background-color: black;
}

#leaderTitle {
    text-align: center;
    color: #55EE55;
}

#tableBody {
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#tableBody::-webkit-scrollbar {
    display: none;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 60vh;
}

thead {
    flex: 0 0 auto;
}

tbody {
    flex: 1 1 auto;
    overflow: hidden;
}

div {
    font-family: 'Press Start 2P';
    color: #55EE55;
}

td {
    font-family: 'Press Start 2P';
}

tr {
    font-family: 'Press Start 2P';
    width: 100%;
    display: table;
    table-layout: fixed;
    color: #55EE55;
    background-color: black;
}