.wheel-container{
  display: inline-flex;
  flex-direction: column;
  font-family: 'Press Start 2P';
  user-select: none;
  background-color: black;
}

.header{
  width: 700px;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  color: #BBBBBB;
  background-color: black;
}

svg {
  font-size: 10px;
  user-select: none;
  background-color: black;
}

.prize{
  width: 700px;
  height: 100px;
  margin-top: 75px;
  padding: 10px 10px 0 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  transform:translate(0,-50%);
  color: #BBBBBB;
  background-color: black;
}

.total {
  width: 700px;
  height: 100px;
  padding: 10px 10px 0 10px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  transform:translate(0,-50%);
  color: #55EE55;
  background-color: black;
  display: none;
}